$my_font_size: 2/3;

body, html {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	scrollbar-width: none;
	background: #EDEDED;
    /*cursor: none;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
